# https://coverage.readthedocs.io/en/7.6.1/config.html
[run]
source= src/multimodaltranslation
parallel = True
# branch is the if else statement 
branch = True

[report]
skip_covered = False
show_missing = True
precision = 2
omit = src/multimodaltranslation/__main__.py
exclude_lines =
    raise NotImplementedError
    raise NotImplemented
ignore_errors = False

[html]
directory = coverage_html_report
